.env
service_scripts/
*.png
*.http

# Environments and IDE
.idea/
.vscode/
?env/

# Chaches
__pycache__/
.instapi_cache/
utils/__pycache__/
.pytest_cache/

# Tests
.coverage
tests/content/*.html
htmlcov/
