beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
geojson==2.5.0
gunicorn==20.0.4
idna==2.10
inst-api==0.3.0
instagram-private-api==1.6.0.0
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.6.2
MarkupSafe==1.1.1
Pillow==8.1.0
PySocks==1.7.1
pyTelegramBotAPI==3.7.5
python-dotenv==0.15.0
requests==2.25.1
six==1.15.0
soupsieve==2.1
urllib3==1.26.2
vk-requests==1.2.0
Werkzeug==1.0.1
